# Flask and related packages
Flask==2.3.3
Flask-Limiter==3.5.0
Flask-Caching==2.1.0
Flask-SQLAlchemy==3.1.1
gunicorn==21.2.0

# API Integrations
openai==0.27.0
GitPython==3.1.40
requests==2.31.0


# XML Processing
lxml==4.9.3

# Utility Packages
python-dotenv==1.0.0
redis==5.0.1

